.schedule{
    width: 40%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: SoftLine;
    font-size: 2em;
}
.schedule tr{
  height: 100px;
}
.schedule th{
  text-align: center;
  font-weight: 500;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.schedule .table-day{
  border-radius: 10px;
  border: solid 2px #30A195;

  padding: 10px 40px;
  background-color: white;
  color: #30A195;
}
.schedule .table-hour{
  width:10%;
  text-align: right;
  padding-right: 20px;
  vertical-align: top;
  font-weight: 600;
  border-right: solid 7px #f0f5f5;
}
.schedule .table-extra{
  background-color: #CAF4F0;
  font-weight: 800;
  color:#19756B;
  border-bottom: solid 2px #78BCB5;
  border-top: solid 2px #78BCB5;
  border-right: solid 7px #f0f5f5;
}
.schedule .table-company{
padding: 10px;
text-align: center;
font-weight: bold;
color: #555;
background-color: white;
border-bottom: solid 2px #78BCB5;
border-right: solid 7px #f0f5f5;
}
.table-company .company-category{
  background-color: white;
  color:#2A841C;
  border: solid 2px #55AB47;
  width:120px;
  display: inline-block;
}
.table-company .company-category-tech{
  background-color: white;
  color:#27274E;
  border: solid 2px #47476b;
  width:120px;
  display: inline-block;
}

.schedule td > h3{
  font-size:28px;
  font-weight: 900;
  margin:5px;
}
.schedule .categories{
  border: solid 1px;
  border-radius: 10px;
}
.schedule ul {
    list-style-type: disc;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.schedule ul li {
    display: inline-block;
    text-align: center;
    font-size:12px;
}
.schedule ul li:after {
  padding: 7px;
  font-size: 15px;
  content: " \2022";
}
.schedule ul li:last-child:after {
  content: none;
}
