.body{
	font-family: "Open Sans";
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#footer{
	text-align: center;
	width:70%;
	margin:auto;
	padding-top: 10px;
	text-shadow: none;
	font-size: 14px;
	color: #ddd;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

#footer > a{
	color: #ddd;
	margin:auto;
}

#footer > a:hover {
	text-decoration: none;
    color: #fff;
}
#team{
	margin-top:5%;
	z-index: 2;
	width:100%;
	text-align: center;
}
#team .columns{
	width:100px;
}
#team .columns,
#team .columns p {
	display: inline-block;
	text-align: center;
	color: #aba7a7;
	font-family: SoftLine;
}
.round-img{
	border-radius:50%;
	width:80px;
	height:80px;
	background-size: 110px 110px;
	background-repeat: no-repeat;
	margin:auto;
}
