<!-- Begin Hero Section -->
<section id="top-section-hero" class="top-section-hero top-section image-section">
    {% include navigation.html %}
    <div class="cd-bg-video-wrapper" data-video="{{ site.baseurl }}/img/sections-background/{{ site.heroVideo }}">
        <!-- video element will be loaded using jQuery -->
    </div>
    <div class="content-wrapper">
    <div class="jumbotron">
        <div class="animated hiding" data-animation="fadeInDown" data-delay="500">
            <img id="jumbotron-image" src="{{ site.baseurl }}/img/seo/jobit.png" alt="{{site.heroTitle }}">
            <h4><span id="typeout-text" class="hidden-xs"></span><span class="typeout-fallback">{{ site.typeoutFallback }}</span>{{ site.eventDate }}</h4>
            <p style="padding-top: 15px;">Room B014</p>
        </div>
    </div>
    <a href="#about" class="explore">
        <svg class="icon icon-arrow-down" viewBox="0 0 32 32">
            <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
        </svg>
    </a>
    </div>
</section>

