.top-section-hero {
    width: 100%;
    height: 100%;
    padding-top: 0;
    .jumbotron {
        position: relative;
        top: 50%;
        margin: 0;
        left: 0;
        transform: translateY(-60%);
        @media (max-width: 767px) {
            margin: 0;
            padding: 0;
        }
        p {
            font-size: $base-font-size * 2;
            font-weight: $light;
            margin-bottom: 15px;
        }
        .btn {
            margin: 0 3px;
        }
    }
}
.typeout-fallback {
    display: none;
    @media (max-width: 767px) {
        display: inline-block;
    }
}
.explore {
    margin-left: -16px;
    position: absolute;
    bottom: -25px;
    left: 50%;
    animation: callToAction 3.5s linear 0s infinite;
    @media (max-width: 767px) {
        margin-left: -12.5px;
        bottom: 30px;
        animation: none;
    }
}
.icon-arrow-down {
    width: 32px;
    height: 32px;
    fill: #e6e6e6;
    @media (max-width: 767px) {
        width: 24px;
        height: 24px;
    }
}
@keyframes callToAction {
    0% {
        opacity: 0;
        transform: translateY(-16px);
    }
    25% {
        opacity: 1;
        transform: translateY(0);
    }
    75% {
        opacity: 1;
        transform: translateY(0);
    }
    85% {
        opacity: 0;
        transform: translateY(-16px);
    }
    100% {
        opacity: 0;
        transform: translateY(-16px);
    }
}



/* -------------------------------- 
Video 
-------------------------------- */

.cd-intro.video {
    display: block;
  }
  
  .video.cd-intro-content {
    display: block;
    height: 100%;
    position: relative;
  }
  .video.cd-intro-content * {
    opacity: 1;
  }
  .video.cd-intro-content .svg-wrapper {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .video.cd-intro-content svg {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    opacity: 0.8;
  }
  .video.cd-intro-content svg.svg-mask {
    /* this is the svg mask used on desktop version */
    display: none;
  }
  .video.cd-intro-content p, .video.cd-intro-content .action-wrapper {
    position: absolute;
    z-index: 3;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .video.cd-intro-content p {
    bottom: calc(50% + 80px);
    margin: 0;
    color: #040404;
    min-width: 90%;
  }
  .video.cd-intro-content .action-wrapper {
    top: calc(50% + 120px);
    min-width: 295px;
  }
  .video.cd-intro-content .cd-btn {
    background-color: rgba(4, 4, 4, 0.4);
  }
  .video.cd-intro-content .cd-btn.main-action {
    background-color: #fb5e58;
  }
  @media only screen and (min-width: 768px) {
    .video.cd-intro-content svg.svg-mask-mobile {
      display: none;
    }
    .video.cd-intro-content svg.svg-mask {
      display: block;
    }
    .video.cd-intro-content p {
      bottom: calc(50% + 40px);
    }
    .video.cd-intro-content .action-wrapper {
      top: calc(50% + 80px);
    }
  }
  
  .cd-bg-video-wrapper {
    /* background cover video */
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    @media (max-width: 767px) {
      background: url(/img/sections-background/hero.jpg) no-repeat center center;
    }
  }
  .cd-bg-video-wrapper video {
    /* you won't see this element in the html, but it will be injected using js */
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    height: auto;
    width: auto;
    mask-image: linear-gradient(to top, transparent, white);
  }
  .cd-bg-video-wrapper::after {
    /* never visible - this is used in jQuery to check the current MQ */
    display: none;
    content: 'mobile';
  }
  @media only screen and (min-width: 768px) {
    .cd-bg-video-wrapper::after {
      content: 'desktop';
    }
  }
  